<!DOCTYPE html>
<html>
  <%- include("../partials/header") %>
<body>
  <%- include("../partials/navbar")  %>
  <a href="/skills"> < Back</a>
  <h3>Skill: <%=  skill.skill %></h3>
  <h3>Level: <%= skill.level %></h3>
  <%- include("../partials/footer")  %>
</body>
</html>